# Environment files
.env

# Node dependencies
node_modules

# Tinyb files
.tinyb

# Model files
*.pkl
*.pt
*.h5
*.joblib

# Executables
*.exe

# Large CVE/NVD datasets
nvdcve-*.json
*.jsonl

# Any model folders
models/
